@import 'fonts';
@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.attribution {
  position: absolute;
  bottom: 0;

  width: 100%;

  margin-bottom: 2em;

  //font-size: $fs-100;
  text-align: center;

  .link {
    //color: $light-grey;
  }
}